@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #f5f5f5;
}
.container {
  width: 100%;
  margin: auto auto;
  padding: 10px;
  height: calc(100vh - 20px);
}
.item {
    color: #fff;
    background-color: #cccccc;
    padding: 20px;
    font-family: "'Luxurious Roman', cursive;";
    font-size: 45px;
    /* calc(1vw + 1em) */
}
.a {
    background-color: lightpink;
}
.b {
    background-color: blueviolet;
}
.c {
    background-color: lightseagreen;
}
.d {
    background-color: rgb(231, 74, 74);
}

/* grid */
.e {
    background-color: rgb(19, 101, 19);
}
.f {
    background-color: goldenrod;
}